User Needs, Benchmarking, and Requirements
TEAM 208- Abner Oaxaca, Enyinnaya Onyenso, Joaquin Jimenez, Panagiotis Levendis


Voice of the Customer Benchmarking
Search #1
Keywords: Automatic/Smart blinds
Search Results Link: (smart blinds)
Selected Products
1. (smart blinds)
  

* Price : $139.99
* Vendor : Amazon 
* Description:
   *  Functional shades: Vinyl fabric, waterproof & oilproof & dust free. Provide absolute privacy & additional energy saving. Ideal indoor window treatments for bedroom, living room, patio sliding door and bathroom etc. Cordless style, safe for children and pets. Rohs certificated, environmental friendly. Valance and designed bottom bar for customized option.
   * 15-channel timing remote: Able to separately & group control maximum 15 smart shades. It provides favorite position as well (the basic program of remote will be set before shipment). 20 Date-time groups available, add any electric curtains to any schedules to achieve automatic timing control as preference. Support handheld or wall-mounted.
   * Bluetooth motor solutions: Called ble motor for short. Work directly with graywind app via bluetooth within range of singal (about 99ft/30m), no smart bridge needed. Easy to pencentage control, set top/bottom and favorite limit positions on app. Also, battery status display is available. Recommended for users who only need to control smart blinds via remote controller or app at home. 2.4ghz ble hub is available for create groups, set timing shedules or other routines and alexa & google control.
   * Zigbee motor solution: Work with echo plus 2nd gen./ echo show 2nd gen./ echo studio/ echo show 10 3rd Gen./ echo 4th gen. directly, no hub required. Realize smart control via not only the app anywhere, but also voice command, such as group and percentage control etc. 2.4ghz zigbee hub is available to connect with other alexa models & google.
   * Made to order: Click "customize now", custom dimensions and details. Please check Amazon reconfirmation messages within 24 hours, order will proceed if we don't get reply in 48 hours.




Positive Comments
Voice of Customer 
	Restated Customer Needs 
	The motorized shades came quickly and were easy to install. They are covering high-end, designer made motorized blinds and they look every bit as good as the blinds and work as smoothly and reliably. What a find. 
	* The product is easy to set up (Explicit)
* Product is reliable (Explicit)
* The product has good quality (Latent)
	I was really happy with the purchase of these motorized blinds. We ended up going with the grey blackout blinds with the valence (with I highly recommend for clean, upscale looks and ease of installation). Their order page makes ordering the correct fit, customization, and features easy as long as you pay attention to input the correct measurements and know how you want them installed
	* Product is easy to install (Explicit)
* Product is customizable (Explicit)
* Easy to customize (Explicit)
	The quality, craftsmanship and fit was perfect! Very easy to install without a professional contractor
	* The product is durable 
* Product is easy to install 


	

Negative Comments
Voice of Customer 
	Restated Customer Needs 
	The blinds look nice and are good quality but the main reason I bought these were for the smart home application with Apple HomeKit. However over the past few months they are constantly disconnecting and unresponsive.
	* Products connection is not reliable (Latent)
	Absolute garbage. The mounting brackets they sent with the blinds would barely hold a blind 1/10 the weight of what ours weighs. Total waste of almost 600 bucks for a blind we can’t even mount. They came crashing down to the ground immediately, and were completely bent and mangled from the weight. Buyer beware.
	* Cannot handle weight very well (explicit)
* Product is not durable (Latent)
	The quality of these blinds is good but the app and it’s functions are terrible. You can set schedules but the schedules NEVER work. I bought 3 blinds and I’m now regretting it! I travel a lot so I set schedules for the blinds to open and close. Some days one blind goes up, some days none go up, some days they all go up! 
	* The products connection is not reliable (Latent)
* The functions of the app are difficult to use (Explicit)
	Search #2
Keywords: Digital Anemometer
Search Results link: Anemometer
Selected Product
2.  HandHeld Anemometer
  

* Price:  $39.99
* Vendor: Amazon.com
* Description: A handheld pocket size anemometer with temperature and relative humidity sensors, and a wind speed indicator.


Positive Comments 
Voice of Customer 
	Restated Customer Needs 
	Works great, sturdy build, versatile features... all you'll ever need if you sail, fly kites or drones, or need any other spot (or average) wind measurements of any kind. Lots of features, big device feels good in your hand.
	* The product should be versatile. (Latent)
* It should be portable.(Explicit)
	PRO: Lots of good measurements. Light, well constructed, and easy to use.
CON: (1) MPH reading is not correct. (2) Difficult to remove battery cover, requires screwdriver. (3) Unit forgets my last selections when powered off.
	* The product should be easy to maintain.(Explicit)
* It should be easy to use.(Explicit)
* It should be accurate.(Explicit)
* It should be easy to customize user settings. (Latent)
* It should be portable.(Explicit)
* It should be durable.(Explicit)
	The box containing the HoldPeak had one corner that was crushed. Fortunately, the unit itself, which was in a sealed plastic bag, was undamaged.I found the included, bare-bones instructions somewhat ambiguous.  I found the wind speed measurements to be quite accurate. Also displayed at the bottom is the air temperature, which is switchable between °C and °F. The unit apparently has a wind chill feature that only works when the temperature of the unit goes below 0 degrees C (32 F). Another feature I like is the switchable backlight. Great for checking wind speeds at night. Finally, the bottom line is that the HoldPeak 866B does what I bought it for - to have an inexpensive hand-held anemometer that will measure wind speeds with some degree of accuracy.
	* The product should be durable. (Explicit)
* The instructions provided should be up to date and have correct information. (Explicit)
* The product should be customizable. (Latent)
* The product should be usable under multiple weather conditions. (Explicit)
* The data provided should be easy to read. (Explicit)
	

Negative Comments
Voice of Customer 
	Restated Customer Needs 
	I figured I'd check to see how the shop vacuum performed compared to a year ago. It was reading about 4300 feet per minute when I heard a slight crack, and the fan blade on the anemometer self-destructed. Given that it had no problem with 4700 feet per minute last year and is supposedly rated up to 5900, my current conclusion is that the plastic on the fan didn't age well and was no longer capable of holding up to the stresses of that air flow.
	* The product should be made from quality materials. (Explicit)
* The product should be durable. (Explicit)
* The product information should be reliable and correct. (Explicit)
	I just needed a simple wind meter for kite flying with my son. We used it only occasionally about 4 or 5 times in the two months since it was delivered. Just seems to work occasionally when it wants to but not when I need it to.
What's the point? I can't trust it to be there when I need it. It was never knocked around, dropped, gotten damp...etc. It's been sitting on my bench for a while just to remind me to write this review.
	* The product should work reliably. (Explicit)
* The product should be easy to troubleshoot. (Latent)
	This served its purpose to help me balance the airflow from the ducts at home, but the fan squeals randomly and it took much longer than it needed to in order to do what I was working for. I did not try to return it and wait since it was such a small project. But beware if you need this for an extended period of time.
	* The product should be quiet. (Latent)
* It should work quickly and efficiently. (Explicit)
	Search #3
Keywords: Temperature Controlled Fan 
Search Results Link: Amazon.com : temperature controlled fan
Selected Products
3. (link)
  

* Price: 39.99
* Vendor: Amazon 
* Description:
   * Durable: The fan has a strong motor which features a permanently lubricated bearing that operates quietly and requires no maintenance; The quality steel housing makes it sturdy and built to last
   * Adjustable Speed: A variable speed controller on the power cord enables the fan to run at different speeds; With this speed switch, you can adjust it to the desired airflow level
   * Compact But Efficient: This duct fan is compact and lightweight enough to be installed in areas with little available space; With a diameter of 8 inches, speed of 3000 RPM and 430 CFM airflow
   * Low Noise: Superior balanced centrifugal impeller for long service life & quiet operation; A less than 43 dB noise level does not have any harm and will not disturb your life
   * Wide Applications: You can have it in bathrooms, kitchens, workshops, basements, attics and etc, in order to boost airflow in HVAC systems; Also, it can be used in grow rooms as intake fans or exhaust fan




Positive Comments 
Voice of Customer 
	Restated Customer Needs 
	This exhaust fan works great. I have had it and tested it for over a month now. It is very quiet, I wish bathroom motors were this quiet, next the power dial also controls the speed of the fan. the fan speed is completely adjustable this is a HUGE bonus. Most air duct exhaust fans are either on or off, this one has fan speed control. It hooks up pretty easy the length of the cord is about 6 feet which is good. The on off switch is the dial, so the only negative is the switch position. I wish the switch was closer to the outlet and further away from the actual inline booster module.
	* The product is very quiet (Explicit)
* Fan is user-friendly (adjustable) (Latent)
* Product is easy to start up (Explicit)
	This inline fan runs smoothly and quietly. The speed control is super handy for different temperature requirements and situations and it comes with a heavy cord, which is nice. It can be used for a variety of applications and for us, it's been a great addition to our grow tent. Very happy with it!
	* Product is user-friendly (comfortable to use) (Latent)
* The product has many different uses (Explicit)
* This product runs smoothly (Explicit)
	This inline booster duct fan works great for my use. I am using it to power the air in a laminar-flow hood and with the variable speed dial, I can get the air-flow exactly where I need it to be. I keep the whole thing on a switch so that I don't have to mess around with this very much. The noise is not bad at all for a duct fan and being Vivosun, you know it will last. All said, this is a great basic inline fan.
	* It is a durable product (Explicit)
* Product is not too noisy (Explicit)
* Air-flow is accurate (Explicit)
* Product is easy to use (Explicit)


	



Negative Comments
Voice of Customer 
	Restated Customer Needs 
	Once package arrived, we tested the speed control, changed from low to med, but no change from med to high. Overall power is ok, not great. Fan sat for about a month before being "installed", tested it the night before, worked the same as when it first arrived....But the day of install (next day), nothing, dead. No power, no lights. Never actually worked on the job after 2 short tests about a month apart.
	* Product does not have lasting battery time (Latent)
* Product does not have very good speed control (Explicit)
* Power of fan is not great (Explicit)
	I had this set up, plugged in, and ran it on high for about 20 minutes. Then I started to notice an electrical burning smell. 10 minutes later i looked at it and the controller was arcing electricity outside of it around the dial!
	* Product does not have reliable power source (Latent)
* Product is not very durable (Latent)
	

Definitely not speed controlled, speed controller is just a on off switch


	* Product does not have very good speed control (Explicit)
* Product is too simple for what is advertised (Explicit)
	



Search #4
Keywords: Temperature Controlled Fan 
Search Results Link: Amazon.com: Temperature Controlled Fan
Selected Products
4. Abestorm 720CFM High Air Flow Crawlspace Ventilation Fan




  

* Price:  $126.66
* Vendor: Amazon
* Description: 
   * Air circulating fan with 7-inch blade for improving air flow in small rooms; suitable for tabletop or floor placement
   * 3 speed settings: low, medium, and high; back-mounted control knob with intuitive settings (0, 1, 2, 3)
   * 90 degree variable tilt head for easily changing the direction of the air flow
   * Product Dimensions: 6.3 x 11.1 x 10.9 inches (LxWxH)


Positive Comments 
Voice of Customer 
	Restated Customer Needs 
	Took about 20 minutes to install and get working good. It’s a great product for a great price.
	* Product is easy to set up. (Explicit)
* The product is cheap (Explicit)
	I installed this fan in a chicken coop that needs some ventilation. I needed a system that could be thermostatically controlled, and this is perfect. It's a little loud, but I don't have to stay in the coop. I set it to come on before it gets too hot or too humid, and it keeps the coop cooler and drier. The chickens might say something different, but I can never understand what they're saying. Good quality product that works right and doesn't cost too much. Easy to install and adjust. Great product.
	* The product is reliable (Latent)
* The product is of good quality (Explicit)
* The product is cheap (Explicit)
	High quality, easy to install and quiet. Used two to pull negative pressure in crawlspace. Removes musty smell with a little work on what is causing it in the first place. The bearings are so smove I think these will run for years. I checked power consumption, 64watts and .8 amps. Moter proficiency is only 67 present, l'm not sure what that plays in the grand skeam or things. I have dehumidifiers that rate 99 pesent. My take i's a good product. However, now that l checked ele. I'm going to look up about the proficiency.
J Clark home owner
	* Product has high quality (Explicit)
* Product is easy to install (Explicit)
* Product is efficient (Explicit)
* Product is durable (Explicit)
	

Negative Comments
Voice of Customer 
	Restated Customer Needs 
	I searched for this product a lot, but, this product is definitely not as useful as advertised. I bought 3 for my crawl space, and this is one of the three I bought. I installed it into the crawl space of my house and worked on it all day. The next day, it stopped working and while it did it work it was super loud. It was obvious that this was a defective machine. I was attracted by the price at first but i will pay more for a quality product. I really disappointed. I am very disappointed that this purchase cannot meet my needs. I do not recommended. And there was no customer team. No one answered the customer service phone. Give you a suggestion: a good customer service system is very important.
	* Product is not very reliable (Latent)
* Product is not durable (Explicit)
* Product is too loud (Explicit)
	I found this product. To be honest, the price of this product is very attractive to me. Although I am relatively new to this brand, I still choose to believe in it. So when I received this product, I was very excited and couldn't wait to use it. However, in my 600 square foot crawl space, I used 3 days to review, but the product was very disappointing, very noisy, and very noisy. My crawl space is not very large, so this noise can be heard upstairs. The power of this fan is 540CFM, but I doubt that figure is true, and it doesn't work as well as the product description says, so it's true that you get what you pay for, don't be tempted by the low price. Buy a trusted brand. Not recommended.
	* The product is too noisy (explicit)
* Product is not efficient (Latent)
* Product is made cheap (Latent)
	Actually, I wanted to buy this product because I saw it was cheap, otherwise I wouldn't have bought it. This is really a shoddy product. The process is rough, the noise is large, and it is difficult to install. I can't even find the power cord. From now on, I'm going to believe that you get what you pay for. Overconfident product introductions inevitably made me lose sight of this fact. But the noise of the machine makes you believe it's real. Another nice reminder that if you want to improve the customer experience, you need to hire a professional customer service team and professional customer support staff. Their customer service line kept getting disconnected and I couldn't get phone support. This is a company that is responsible to its customers
	* The product is too loud (explicit)
* The product is hard to set up (Explicit)


	



Search #5
Keywords: Fan
Search Results Link: Amazon.com : fan
Selected Products
5. Amazon Basics 3 Speed Small Room Air Circulator Fan
  



* Price: $16.98
* Vendor: Amazon
* Description: 
   * Air circulating fan with 7-inch blade for improving air flow in small rooms; suitable for tabletop or floor placement
   * 3 speed settings: low, medium, and high; back-mounted control knob with intuitive settings (0, 1, 2, 3)
   * 90 degree variable tilt head for easily changing the direction of the air flow
   * Product Dimensions: 6.3 x 11.1 x 10.9 inches (LxWxH)




Positive Comments 
Voice of Customer 
	Restated Customer Needs 
	I recently purchased the Amazon Basics 3 Speed Small Room Air Circulator Fan, and I must say, I am thoroughly impressed! Despite its compact size, this little powerhouse really moves some serious air, making it a big relief in these hot summer months. The 11-inch blade size might seem small, but don't let that fool you. Once you power it on, you can feel a strong breeze that cools down a small room in no time.


I love the simplicity of the three-speed settings. It allows for easy control, letting you choose how much airflow you need. The highest setting provides a robust airflow, while the lowest setting offers a gentle breeze, which is perfect for those slightly warm days or if you just want a gentle circulation in the room. The middle setting is a nice balance between the two, and I find it perfect for everyday use.


One of the things I appreciate about this fan is its quiet operation. Even on the highest setting, the noise is minimal, which is great as I can have it running while working or watching TV without any disturbing noise.


The design is sleek and modern, fitting well with my home decor. It doesn’t take up much space, which is great for my small apartment. It's lightweight and portable, making it easy to move from room to room, and the built-in handle at the back is a thoughtful touch.


The durability seems good too; it feels well-built and sturdy. The base is stable, ensuring the fan stays in place even on the highest setting.
	* Makes effective air flow (explicit)
* Product is easy to use (Explicit)
* Product is not noisy (Explicit)
* The product has a nice design (Explicit)
* Product is durable (Explicit)
	We live in a high altitude city that has no seasons and, therefore, no heat or A/C. I bought this fan to keep the air circulating at night and to provide some white noise. The 3 levels on the fan are perfect with just the right amount of noise. We sleep with it on level 2 very comfortably. It's small, but powerful. We often bring it when we vacation in rental homes. We use it every single night for the entire time we sleep. Great little fan!
	* The fan is powerful (Explicit)
* The fan is convenient (Explicit)
* The fan has a good size (Explicit)
	We bought this fan for our bedroom, and it’s a perfect size to go on top of a dresser. It looks sleek and well made. You just pull it out of the box and you’re good to go, so the setup was a breeze. It’s super easy to use with 3 simple settings. The lowest setting is what we usually keep it on and it even at that lowest setting, it does provide quite a bit of cooling power, which is exactly what we wanted!


The only thing I could say about it is that it’s a little bit loud, even on the lowest setting, but I enjoy the white noise of a fan while I’m sleeping anyway so this is good for me.
	* The size of the fan is convenient (Explicit)
* The fan has good quality (Explicit)
* The product is effective (Latent )
	









Negative Comments 
Voice of Customer 
	Restated Customer Needs 
	I've had this fan for about 4 months, and only use it during the overnight hours. I was out of work sick today and was laying down with the fan on, when I start hearing a weird noise coming from it. It got quiet again, so I shrugged it off and laid back down. When I get up, it's not even running at this point. I walked over to check and received a pretty nice burn upon coming into contact with the fan. I strongly recommend amazon reach out to the email address linked to my account, as there have been several issues this weekend that amazons customer care portal had only made worse, turning a customer service issue into a potential legal matter. I highly advise someone reach out to me ASAP, as your lovely customer service reps have refused to provide me a contact to reach out to regarding these issues on multiple occasions.
	* The product is not durable (Explicit)
* The product is not safe (Latent)


	I purchased this fan in June to run by my bedside. I would turn it on at night and shut it off about halfway through the night when it got cold. It is October now and I have used this Dan less and less. However, the other night we had a hot spell so I decided to turn on the fan. It wouldn’t work! Thinking that it was the plug, I tried a different plug. Then I swapped out the fuse… still didn’t work. However, when I flip the switch to “on” the blades would move slowly and the motor made a horrific whining noise. Easy to conclude the motor had given out.
	* The product seems to overheat (Latent)
* 	I'm used to fans working for 2 or 3 years before they start making noise or just stop working. This fan was hardly used for 6 months, kept it as an extra in the closet and recently had it in my bedroom low speed 24 hours for a few weeks. One night recently, I smelled burning plastic and,
spent an hour looking around the house and gave up because the smell was so faint. Getting ready for bed, I reached over to turn on the fan because someone had turned it off. But no one had turned it off. It was hot to the touch, seized, wouldn't turn on because it was already on, and slowly melting.
	

	Organize




  
                                                                                                                                                                                                         
  
  
  
  









  
 = User Friendly 
Meta: The product should be convenient for the user making it easy to use. 


  
= Safety
Meta: The product should not put the user in any type of danger. 


  
= Lifespan
Meta: The product should be at optimal working condition for at least one year.


  
= Accessibility
Meta: The product should be accessible to anyone who would be interested in it. 


  
= Comfort
Meta: When using or looking at the product the user should feel comfortable.
  
                                                                                                                                                                                                         
  
  
  
  



3 = Most Important 
2 = Moderately Important 
1 = Least Important 


  
                                                                                                                                                                                                         
  
  
  
  





Develop Requirements
Using the process laid out previously in this document and a template found by the teaching
team, we created a separate document to condense the information relevant to the project. (Link)